In [79]:
import pandas as pd

from datamender import Mender

# main_df = pd.read_csv("https://media.geeksforgeeks.org/wp-content/uploads/nba.csv")
main_df = pd.read_csv('./expermental/testing_data/titanic.csv')

main_mender = Mender(main_df)

In [80]:
main_mender.sklearn_impute(['Age'], 'iterative', remark='test1', random_state=0)
main_mender.sklearn_impute(['Age'], 'iterative', remark='test2', random_state=128, keep_empty_features=True)
main_mender.sklearn_impute(['Age'], 'knn', remark='test1', n_neighbors=2)
main_mender.sklearn_impute(['Age'], 'knn', remark='test2', n_neighbors=4)

In [46]:
main_df.shape

(891, 12)

In [81]:
# Show all the columns
main_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age__iterative_test1,Age__iterative_test2,Age__knn_test1,Age__knn_test2
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,22.0,22.0,22.0,22.0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,38.0,38.0,38.0,38.0
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,26.0,26.0,26.0,26.0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,35.0,35.0,35.0,35.0
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,35.0,35.0,35.0,35.0

In [82]:
main_mender.overview()

                          Value
Total Columns                16
Total Rows                  891
Incomplete Rows Count       708
Incomplete Rows (%)       79.46
Incomplete Columns Count     16
Total Data Count          14256
Valid Data Count          13390
Missing Data Count          866
Missing Data (%)           6.07

In [83]:
main_mender.insights()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age__iterative_test1,Age__iterative_test2,Age__knn_test1,Age__knn_test2
Valid Data Count,891.0,891.0,891.0,891.0,891.0,891.0,891.0,891.0,891.0,891.0,891.0,891.0,891.0,891.0,891.0,891.0
Missing Data Count,0.0,0.0,0.0,0.0,0.0,177.0,0.0,0.0,0.0,0.0,687.0,2.0,0.0,0.0,0.0,0.0
Missing Data (%),0.0,0.0,0.0,0.0,0.0,19.87,0.0,0.0,0.0,0.0,77.1,0.22,0.0,0.0,0.0,0.0
Data Type,int64,int64,int64,object,object,float64,int64,int64,object,float64,object,object,float64,float64,float64,float64
Mean,446.0,0.38,2.31,-,-,29.7,0.52,0.38,-,32.2,-,-,29.32,29.7,29.54,29.51
Median,446.0,0.0,3.0,-,-,28.0,0.0,0.0,-,14.45,-,-,29.0,29.7,28.0,28.25
Min,1.0,0.0,1.0,-,-,0.42,0.0,0.0,-,0.0,-,-,-5.05,0.42,0.42,0.42
Max,891.0,1.0,3.0,-,-,80.0,8.0,6.0,-,512.33,-,-,80.0,80.0,80.0,80.0
Standard Deviation,257.35,0.49,0.84,-,-,14.53,1.1,0.81,-,49.69,-,-,13.69,13.0,13.17,13.17
25% Quantile,223.5,0.0,2.0,-,-,20.12,0.0,0.0,-,7.91,-,-,21.0,22.0,22.0,22.0
75% Quantile,668.5,1.0,3.0,-,-,38.0,1.0,0.0,-,31.0,-,-,36.76,35.0,36.0,36.0
Mode,1,0.0,3.0,"Abbing, Mr. Anthony",male,24.0,0.0,0.0,1601,8.05,B96 B98,S,24.0,29.699118,28.0,24.0
Mode Count,1,549,491,1,577,30,608,678,7,43,4,644,30,177,37,32
Mode (%),0.11,61.62,55.11,0.11,64.76,3.37,68.24,76.09,0.79,4.83,0.45,72.28,3.37,19.87,4.15,3.59
Unique Values Count,891,2,3,891,2,88,7,7,681,248,147,3,265,89,111,143
Unique Values (%),100.0,0.22,0.34,100.0,0.22,12.32,0.79,0.79,76.43,27.83,72.06,0.34,29.74,9.99,12.46,16.05

How will Cabin affect the result?
How to measure success rate?

In [70]:
main_mender.show_incomplete(999)

Empty DataFrame
Columns: [Pclass, Ticket, PassengerId, Sex, Parch, Survived, Name, Age, Fare, SibSp, Embarked, Age__was-missing]
Index: []

## Imputation Plan

Sex is object, but need to be converted to number or boolean, can use one-hot
Embarked can also be converted with one-hot

Age and cabin have most of missing value, should create a new column - Age__missing to capture the missing value in age

Cabin is too complex to process, need to ignore

In [51]:
main_mender.df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [52]:
# main_mender.setfocus(columns=['Survived', 'Pclass', 'Name'], rows=(0, 50))

In [65]:
# Ignore Cabin colum because it is string value without any pattern
main_mender.setignore(columns=['Cabin'])

In [66]:
from datamender import ImputationStrategies as im_strategy

# Apply mean imputation to the age column
# But because the age column contains too much missing data, we'll capture the likelihood of missing as new column
main_mender.impute_columns(
    columns=["Age"],
    strategies=[im_strategy.mean],
    inplace= True,
    capture_likelihood = True
)

In [69]:
# Since there are only 2 value missed in this column
# Impute with mode since the majority takes 72.28% of the value
main_mender.impute_columns(
    columns=["Embarked"],
    strategies=[im_strategy.mode],
    inplace=True
)

In [72]:
from datamender import EncodingStrategies as en_stragety

# Sex is object, but need to be converted to number or boolean, can use one-hot
main_mender.encode_column('Sex', en_stragety.one_hot)

In [73]:
#Embarked can also be converted with one-hot
main_mender.encode_column('Embarked', en_stragety.one_hot)

In [58]:
# This is for testing another data set, where height is string, using admen_column method to
# convert string value to numeric cm value
import re
def amend_height(feet):
    pattern = re.compile(r"(\d+)-(\d+)")
    if pd.isna(feet):
        return None

    found = pattern.findall(feet)
    if len(found) == 0:
        return None

    feet, inch = (found[0])
    return int(feet) * 30.48 + int(inch) * 2.54

main_mender.amend_column("Height", amend_height)

{}

KeyError: 'Height'

In [ ]:
main_mender.graphs(kind="kde")

In [ ]:

main_mender.setfocus(columns=['Survived'], rows=(1, 50, 2))

In [ ]:
main_mender.column_categories("Position")

In [ ]:
from datamender import EncodingStrategies as en_strategy

category_order_map = {
    "PG": 1,
    "SF": 3,
    "SG": 5,
    "PF": 7,
    "C": 100,
}

main_mender.encode_column(
    column="Position",
    strategy=en_strategy.label_encoding,
    category_order_map=category_order_map
)