In [43]:
import pandas as pd

from datamender import Mender

# main_df = pd.read_csv("https://media.geeksforgeeks.org/wp-content/uploads/nba.csv")
main_df = pd.read_csv('./expermental/testing_data/titanic.csv')

main_mender = Mender(main_df)

In [44]:
main_mender.insights()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
Valid Data Count,891.0,891.0,891.0,891.0,891.0,891.0,891.0,891.0,891.0,891.0,891.0,891.0
Missing Data Count,0.0,0.0,0.0,0.0,0.0,177.0,0.0,0.0,0.0,0.0,687.0,2.0
Missing Data (%),0.0,0.0,0.0,0.0,0.0,19.87,0.0,0.0,0.0,0.0,77.1,0.22
Data Type,int64,int64,int64,object,object,float64,int64,int64,object,float64,object,object
Mean,446.0,0.38,2.31,-,-,29.7,0.52,0.38,-,32.2,-,-
Median,446.0,0.0,3.0,-,-,28.0,0.0,0.0,-,14.45,-,-
Min,1.0,0.0,1.0,-,-,0.42,0.0,0.0,-,0.0,-,-
Max,891.0,1.0,3.0,-,-,80.0,8.0,6.0,-,512.33,-,-
Standard Deviation,257.35,0.49,0.84,-,-,14.53,1.1,0.81,-,49.69,-,-
25% Quantile,223.5,0.0,2.0,-,-,20.12,0.0,0.0,-,7.91,-,-
75% Quantile,668.5,1.0,3.0,-,-,38.0,1.0,0.0,-,31.0,-,-
Mode,1,0.0,3.0,"Abbing, Mr. Anthony",male,24.0,0.0,0.0,1601,8.05,B96 B98,S
Mode Count,1,549,491,1,577,30,608,678,7,43,4,644
Mode (%),0.11,61.62,55.11,0.11,64.76,3.37,68.24,76.09,0.79,4.83,0.45,72.28
Unique Values Count,891,2,3,891,2,88,7,7,681,248,147,3
Unique Values (%),100.0,0.22,0.34,100.0,0.22,12.32,0.79,0.79,76.43,27.83,72.06,0.34

In [41]:
main_mender.sklearn_impute(['Age'], 'iterative', remark='test1', random_state=0)
main_mender.sklearn_impute(['Age'], 'iterative', remark='test2', random_state=128, keep_empty_features=True)
main_mender.sklearn_impute(['Age'], 'knn', remark='test1', n_neighbors=2)
main_mender.sklearn_impute(['Age'], 'knn', remark='test2', n_neighbors=4)

In [42]:
main_mender.insights()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age__iterative_test1,Age__iterative_test2,Age__knn_test1,Age__knn_test2
Valid Data Count,891.0,891.0,891.0,891.0,891.0,891.0,891.0,891.0,891.0,891.0,891.0,891.0,891.0,891.0,891.0,891.0
Missing Data Count,0.0,0.0,0.0,0.0,0.0,177.0,0.0,0.0,0.0,0.0,687.0,2.0,0.0,0.0,0.0,0.0
Missing Data (%),0.0,0.0,0.0,0.0,0.0,19.87,0.0,0.0,0.0,0.0,77.1,0.22,0.0,0.0,0.0,0.0
Data Type,int64,int64,int64,object,object,float64,int64,int64,object,float64,object,object,float64,float64,float64,float64
Mean,446.0,0.38,2.31,-,-,29.7,0.52,0.38,-,32.2,-,-,29.32,29.7,29.54,29.51
Median,446.0,0.0,3.0,-,-,28.0,0.0,0.0,-,14.45,-,-,29.0,29.7,28.0,28.25
Min,1.0,0.0,1.0,-,-,0.42,0.0,0.0,-,0.0,-,-,-5.05,0.42,0.42,0.42
Max,891.0,1.0,3.0,-,-,80.0,8.0,6.0,-,512.33,-,-,80.0,80.0,80.0,80.0
Standard Deviation,257.35,0.49,0.84,-,-,14.53,1.1,0.81,-,49.69,-,-,13.69,13.0,13.17,13.17
25% Quantile,223.5,0.0,2.0,-,-,20.12,0.0,0.0,-,7.91,-,-,21.0,22.0,22.0,22.0
75% Quantile,668.5,1.0,3.0,-,-,38.0,1.0,0.0,-,31.0,-,-,36.76,35.0,36.0,36.0
Mode,1,0.0,3.0,"Abbing, Mr. Anthony",male,24.0,0.0,0.0,1601,8.05,B96 B98,S,24.0,29.699118,28.0,24.0
Mode Count,1,549,491,1,577,30,608,678,7,43,4,644,30,177,37,32
Mode (%),0.11,61.62,55.11,0.11,64.76,3.37,68.24,76.09,0.79,4.83,0.45,72.28,3.37,19.87,4.15,3.59
Unique Values Count,891,2,3,891,2,88,7,7,681,248,147,3,265,89,111,143
Unique Values (%),100.0,0.22,0.34,100.0,0.22,12.32,0.79,0.79,76.43,27.83,72.06,0.34,29.74,9.99,12.46,16.05

In [11]:
main_df.shape

(891, 12)

In [12]:
# Show all the columns
main_df.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [13]:
main_df.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [16]:
main_mender.overview()

                          Value
Total Columns                12
Total Rows                  891
Incomplete Rows Count       708
Incomplete Rows (%)       79.46
Incomplete Columns Count     12
Total Data Count          10692
Valid Data Count           9826
Missing Data Count          866
Missing Data (%)            8.1

In [15]:
main_mender.insights()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
Valid Data Count,891.0,891.0,891.0,891.0,891.0,891.0,891.0,891.0,891.0,891.0,891.0,891.0
Missing Data Count,0.0,0.0,0.0,0.0,0.0,177.0,0.0,0.0,0.0,0.0,687.0,2.0
Missing Data (%),0.0,0.0,0.0,0.0,0.0,19.87,0.0,0.0,0.0,0.0,77.1,0.22
Data Type,int64,int64,int64,object,object,float64,int64,int64,object,float64,object,object
Mean,446.0,0.38,2.31,-,-,29.7,0.52,0.38,-,32.2,-,-
Median,446.0,0.0,3.0,-,-,28.0,0.0,0.0,-,14.45,-,-
Min,1.0,0.0,1.0,-,-,0.42,0.0,0.0,-,0.0,-,-
Max,891.0,1.0,3.0,-,-,80.0,8.0,6.0,-,512.33,-,-
Standard Deviation,257.35,0.49,0.84,-,-,14.53,1.1,0.81,-,49.69,-,-
25% Quantile,223.5,0.0,2.0,-,-,20.12,0.0,0.0,-,7.91,-,-
75% Quantile,668.5,1.0,3.0,-,-,38.0,1.0,0.0,-,31.0,-,-
Mode,1,0.0,3.0,"Abbing, Mr. Anthony",male,24.0,0.0,0.0,1601,8.05,B96 B98,S
Mode Count,1,549,491,1,577,30,608,678,7,43,4,644
Mode (%),0.11,61.62,55.11,0.11,64.76,3.37,68.24,76.09,0.79,4.83,0.45,72.28
Unique Values Count,891,2,3,891,2,88,7,7,681,248,147,3
Unique Values (%),100.0,0.22,0.34,100.0,0.22,12.32,0.79,0.79,76.43,27.83,72.06,0.34

How will Cabin affect the result?
How to measure success rate?

In [20]:
# TODO : by default, make show_incomplete display all data instead of first 5 rows
main_mender.show_incomplete(9999)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

## Imputation Plan

### Fill up missing values
- Age and cabin have most of missing value, should create a new column - Age_was_missing and Cabin_was_missing to capture the missingness
- Age can use mean or median. Or use sklearn "knn" or "iterative" imputation, probably try a few
- Cabin can be dropped. or consider Cabin_was_missing as it's own category, then do categorical encoding
- Embarked only have 2 missing value. Mode value takes 72%, so can use mode fill up.

### Data encoding
- Sex is object, need to be converted to number or boolean, we can use one-hot
- Embarked can also be converted with one-hot

### Others
- Cabin is too complex to process, may need to ignore, but can be convert to categoretical data. Must capture the missingness (to add on this feature)

In [21]:
# Because the feature haven't done, use impute_columns function to capture the missingness first
from datamender import ImputationStrategies as im_strategy
main_mender.impute_columns(
    columns=["Cabin"],
    strategies=[im_strategy.mode],
    inplace= True,
    capture_likelihood=True
)

In [22]:
main_mender.insights()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Cabin__was-missing
Valid Data Count,891.0,891.0,891.0,891.0,891.0,891.0,891.0,891.0,891.0,891.0,891.0,891.0,891.0
Missing Data Count,0.0,0.0,0.0,0.0,0.0,177.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0
Missing Data (%),0.0,0.0,0.0,0.0,0.0,19.87,0.0,0.0,0.0,0.0,0.0,0.22,0.0
Data Type,int64,int64,int64,object,object,float64,int64,int64,object,float64,object,object,int64
Mean,446.0,0.38,2.31,-,-,29.7,0.52,0.38,-,32.2,-,-,0.77
Median,446.0,0.0,3.0,-,-,28.0,0.0,0.0,-,14.45,-,-,1.0
Min,1.0,0.0,1.0,-,-,0.42,0.0,0.0,-,0.0,-,-,0.0
Max,891.0,1.0,3.0,-,-,80.0,8.0,6.0,-,512.33,-,-,1.0
Standard Deviation,257.35,0.49,0.84,-,-,14.53,1.1,0.81,-,49.69,-,-,0.42
25% Quantile,223.5,0.0,2.0,-,-,20.12,0.0,0.0,-,7.91,-,-,1.0
75% Quantile,668.5,1.0,3.0,-,-,38.0,1.0,0.0,-,31.0,-,-,1.0
Mode,1,0.0,3.0,"Abbing, Mr. Anthony",male,24.0,0.0,0.0,1601,8.05,B96 B98,S,1.0
Mode Count,1,549,491,1,577,30,608,678,7,43,691,644,687
Mode (%),0.11,61.62,55.11,0.11,64.76,3.37,68.24,76.09,0.79,4.83,77.55,72.28,77.1
Unique Values Count,891,2,3,891,2,88,7,7,681,248,147,3,2
Unique Values (%),100.0,0.22,0.34,100.0,0.22,12.32,0.79,0.79,76.43,27.83,16.5,0.34,0.22

In [ ]:
main_mender.insights()

In [23]:
# Ignore Cabin colum because it is string value without any pattern
main_mender.setignore(columns=['Cabin'])

In [24]:
main_mender.insights()

,Name,SibSp,Age,Survived,Ticket,PassengerId,Pclass,Embarked,Sex,Fare,Parch,Cabin__was-missing
Valid Data Count,891.0,891.0,891.0,891.0,891.0,891.0,891.0,891.0,891.0,891.0,891.0,891.0
Missing Data Count,0.0,0.0,177.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0
Missing Data (%),0.0,0.0,19.87,0.0,0.0,0.0,0.0,0.22,0.0,0.0,0.0,0.0
Data Type,object,int64,float64,int64,object,int64,int64,object,object,float64,int64,int64
Mean,-,0.52,29.7,0.38,-,446.0,2.31,-,-,32.2,0.38,0.77
Median,-,0.0,28.0,0.0,-,446.0,3.0,-,-,14.45,0.0,1.0
Min,-,0.0,0.42,0.0,-,1.0,1.0,-,-,0.0,0.0,0.0
Max,-,8.0,80.0,1.0,-,891.0,3.0,-,-,512.33,6.0,1.0
Standard Deviation,-,1.1,14.53,0.49,-,257.35,0.84,-,-,49.69,0.81,0.42
25% Quantile,-,0.0,20.12,0.0,-,223.5,2.0,-,-,7.91,0.0,1.0
75% Quantile,-,1.0,38.0,1.0,-,668.5,3.0,-,-,31.0,0.0,1.0
Mode,"Abbing, Mr. Anthony",0.0,24.0,0.0,1601,1,3.0,S,male,8.05,0.0,1.0
Mode Count,1,608,30,549,7,1,491,644,577,43,678,687
Mode (%),0.11,68.24,3.37,61.62,0.79,0.11,55.11,72.28,64.76,4.83,76.09,77.1
Unique Values Count,891,7,88,2,681,891,3,3,2,248,7,2
Unique Values (%),100.0,0.79,12.32,0.22,76.43,100.0,0.34,0.34,0.22,27.83,0.79,0.22

In [25]:
from datamender import ImputationStrategies as im_strategy

# Apply mean imputation to the age column
# But because the age column contains too much missing data, we'll capture the likelihood of missing as new column
main_mender.impute_columns(
    columns=["Age"],
    strategies=[im_strategy.mean, im_strategy.median],
    capture_likelihood = True
)

In [26]:
main_mender.insights()

,Name,SibSp,Age,Survived,Ticket,PassengerId,Pclass,Embarked,Sex,Fare,Parch,Cabin__was-missing,Age__was-missing,Age__mean,Age__median
Valid Data Count,891.0,891.0,891.0,891.0,891.0,891.0,891.0,891.0,891.0,891.0,891.0,891.0,891.0,891.0,891.0
Missing Data Count,0.0,0.0,177.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Missing Data (%),0.0,0.0,19.87,0.0,0.0,0.0,0.0,0.22,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Data Type,object,int64,float64,int64,object,int64,int64,object,object,float64,int64,int64,int64,float64,float64
Mean,-,0.52,29.7,0.38,-,446.0,2.31,-,-,32.2,0.38,0.77,0.2,29.7,29.36
Median,-,0.0,28.0,0.0,-,446.0,3.0,-,-,14.45,0.0,1.0,0.0,29.7,28.0
Min,-,0.0,0.42,0.0,-,1.0,1.0,-,-,0.0,0.0,0.0,0.0,0.42,0.42
Max,-,8.0,80.0,1.0,-,891.0,3.0,-,-,512.33,6.0,1.0,1.0,80.0,80.0
Standard Deviation,-,1.1,14.53,0.49,-,257.35,0.84,-,-,49.69,0.81,0.42,0.4,13.0,13.02
25% Quantile,-,0.0,20.12,0.0,-,223.5,2.0,-,-,7.91,0.0,1.0,0.0,22.0,22.0
75% Quantile,-,1.0,38.0,1.0,-,668.5,3.0,-,-,31.0,0.0,1.0,0.0,35.0,35.0
Mode,"Abbing, Mr. Anthony",0.0,24.0,0.0,1601,1,3.0,S,male,8.05,0.0,1.0,0.0,29.699118,28.0
Mode Count,1,608,30,549,7,1,491,644,577,43,678,687,714,177,202
Mode (%),0.11,68.24,3.37,61.62,0.79,0.11,55.11,72.28,64.76,4.83,76.09,77.1,80.13,19.87,22.67
Unique Values Count,891,7,88,2,681,891,3,3,2,248,7,2,2,89,88
Unique Values (%),100.0,0.79,12.32,0.22,76.43,100.0,0.34,0.34,0.22,27.83,0.79,0.22,0.22,9.99,9.88

In [27]:
# Since there are only 2 value missed in this column
# Impute with mode since the majority takes 72.28% of the value
main_mender.impute_columns(
    columns=["Embarked"],
    strategies=[im_strategy.mode],
    inplace=True
)

In [28]:
main_mender.insights()

,Name,SibSp,Age,Survived,Ticket,PassengerId,Pclass,Embarked,Sex,Fare,Parch,Cabin__was-missing,Age__was-missing,Age__mean,Age__median
Valid Data Count,891.0,891.0,891.0,891.0,891.0,891.0,891.0,891.0,891.0,891.0,891.0,891.0,891.0,891.0,891.0
Missing Data Count,0.0,0.0,177.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Missing Data (%),0.0,0.0,19.87,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Data Type,object,int64,float64,int64,object,int64,int64,object,object,float64,int64,int64,int64,float64,float64
Mean,-,0.52,29.7,0.38,-,446.0,2.31,-,-,32.2,0.38,0.77,0.2,29.7,29.36
Median,-,0.0,28.0,0.0,-,446.0,3.0,-,-,14.45,0.0,1.0,0.0,29.7,28.0
Min,-,0.0,0.42,0.0,-,1.0,1.0,-,-,0.0,0.0,0.0,0.0,0.42,0.42
Max,-,8.0,80.0,1.0,-,891.0,3.0,-,-,512.33,6.0,1.0,1.0,80.0,80.0
Standard Deviation,-,1.1,14.53,0.49,-,257.35,0.84,-,-,49.69,0.81,0.42,0.4,13.0,13.02
25% Quantile,-,0.0,20.12,0.0,-,223.5,2.0,-,-,7.91,0.0,1.0,0.0,22.0,22.0
75% Quantile,-,1.0,38.0,1.0,-,668.5,3.0,-,-,31.0,0.0,1.0,0.0,35.0,35.0
Mode,"Abbing, Mr. Anthony",0.0,24.0,0.0,1601,1,3.0,S,male,8.05,0.0,1.0,0.0,29.699118,28.0
Mode Count,1,608,30,549,7,1,491,646,577,43,678,687,714,177,202
Mode (%),0.11,68.24,3.37,61.62,0.79,0.11,55.11,72.5,64.76,4.83,76.09,77.1,80.13,19.87,22.67
Unique Values Count,891,7,88,2,681,891,3,3,2,248,7,2,2,89,88
Unique Values (%),100.0,0.79,12.32,0.22,76.43,100.0,0.34,0.34,0.22,27.83,0.79,0.22,0.22,9.99,9.88

In [29]:
main_mender.setignore(columns=['Age'])

In [30]:
main_mender.insights()

,Name,SibSp,Age__was-missing,Ticket,Survived,PassengerId,Pclass,Age__median,Embarked,Sex,Fare,Parch,Cabin__was-missing,Age__mean
Valid Data Count,891.0,891.0,891.0,891.0,891.0,891.0,891.0,891.0,891.0,891.0,891.0,891.0,891.0,891.0
Missing Data Count,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Missing Data (%),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Data Type,object,int64,int64,object,int64,int64,int64,float64,object,object,float64,int64,int64,float64
Mean,-,0.52,0.2,-,0.38,446.0,2.31,29.36,-,-,32.2,0.38,0.77,29.7
Median,-,0.0,0.0,-,0.0,446.0,3.0,28.0,-,-,14.45,0.0,1.0,29.7
Min,-,0.0,0.0,-,0.0,1.0,1.0,0.42,-,-,0.0,0.0,0.0,0.42
Max,-,8.0,1.0,-,1.0,891.0,3.0,80.0,-,-,512.33,6.0,1.0,80.0
Standard Deviation,-,1.1,0.4,-,0.49,257.35,0.84,13.02,-,-,49.69,0.81,0.42,13.0
25% Quantile,-,0.0,0.0,-,0.0,223.5,2.0,22.0,-,-,7.91,0.0,1.0,22.0
75% Quantile,-,1.0,0.0,-,1.0,668.5,3.0,35.0,-,-,31.0,0.0,1.0,35.0
Mode,"Abbing, Mr. Anthony",0.0,0.0,1601,0.0,1,3.0,28.0,S,male,8.05,0.0,1.0,29.699118
Mode Count,1,608,714,7,549,1,491,202,646,577,43,678,687,177
Mode (%),0.11,68.24,80.13,0.79,61.62,0.11,55.11,22.67,72.5,64.76,4.83,76.09,77.1,19.87
Unique Values Count,891,7,2,681,2,891,3,88,3,2,248,7,2,89
Unique Values (%),100.0,0.79,0.22,76.43,0.22,100.0,0.34,9.88,0.34,0.22,27.83,0.79,0.22,9.99

In [31]:
main_mender.overview()

                          Value
Total Columns                14
Total Rows                  891
Incomplete Rows Count         0
Incomplete Rows (%)         0.0
Incomplete Columns Count     14
Total Data Count          12474
Valid Data Count          12474
Missing Data Count            0
Missing Data (%)            0.0

In [32]:
from datamender import EncodingStrategies as en_stragety

# Sex is object, but need to be converted to number or boolean, can use one-hot
main_mender.encode_column('Sex', en_stragety.one_hot)

In [35]:
#Embarked can also be converted with one-hot
category_order_map = {
    "C": 1,
    "Q": 3,
    "S": 5,
}

main_mender.encode_column('Embarked', en_stragety.label_encoding, category_order_map=category_order_map)

In [36]:
main_mender.insights()

,Name,SibSp,Age__was-missing,Ticket,Survived,PassengerId,Pclass,Age__median,Embarked,Sex,Fare,Parch,Cabin__was-missing,Age__mean,Sex___female,Sex___male,Embarked___C,Embarked___Q,Embarked___S,Embarked__category
Valid Data Count,891.0,891.0,891.0,891.0,891.0,891.0,891.0,891.0,891.0,891.0,891.0,891.0,891.0,891.0,891.0,891.0,891.0,891.0,891.0,891.0
Missing Data Count,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Missing Data (%),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Data Type,object,int64,int64,object,int64,int64,int64,float64,object,object,float64,int64,int64,float64,uint8,uint8,uint8,uint8,uint8,int64
Mean,-,0.52,0.2,-,0.38,446.0,2.31,29.36,-,-,32.2,0.38,0.77,29.7,0.35,0.65,0.19,0.09,0.73,4.07
Median,-,0.0,0.0,-,0.0,446.0,3.0,28.0,-,-,14.45,0.0,1.0,29.7,0.0,1.0,0.0,0.0,1.0,5.0
Min,-,0.0,0.0,-,0.0,1.0,1.0,0.42,-,-,0.0,0.0,0.0,0.42,0.0,0.0,0.0,0.0,0.0,1.0
Max,-,8.0,1.0,-,1.0,891.0,3.0,80.0,-,-,512.33,6.0,1.0,80.0,1.0,1.0,1.0,1.0,1.0,5.0
Standard Deviation,-,1.1,0.4,-,0.49,257.35,0.84,13.02,-,-,49.69,0.81,0.42,13.0,0.48,0.48,0.39,0.28,0.45,1.58
25% Quantile,-,0.0,0.0,-,0.0,223.5,2.0,22.0,-,-,7.91,0.0,1.0,22.0,0.0,0.0,0.0,0.0,0.0,3.0
75% Quantile,-,1.0,0.0,-,1.0,668.5,3.0,35.0,-,-,31.0,0.0,1.0,35.0,1.0,1.0,0.0,0.0,1.0,5.0
Mode,"Abbing, Mr. Anthony",0.0,0.0,1601,0.0,1,3.0,28.0,S,male,8.05,0.0,1.0,29.699118,0.0,1.0,0.0,0.0,1.0,5.0
Mode Count,1,608,714,7,549,1,491,202,646,577,43,678,687,177,577,577,723,814,646,646
Mode (%),0.11,68.24,80.13,0.79,61.62,0.11,55.11,22.67,72.5,64.76,4.83,76.09,77.1,19.87,64.76,64.76,81.14,91.36,72.5,72.5
Unique Values Count,891,7,2,681,2,891,3,88,3,2,248,7,2,89,2,2,2,2,2,3
Unique Values (%),100.0,0.79,0.22,76.43,0.22,100.0,0.34,9.88,0.34,0.22,27.83,0.79,0.22,9.99,0.22,0.22,0.22,0.22,0.22,0.34

In [37]:
main_mender.df.head(10)

,Name,SibSp,Age__was-missing,Ticket,Survived,PassengerId,Pclass,Age__median,Embarked,Sex,Fare,Parch,Cabin__was-missing,Age__mean,Sex___female,Sex___male,Embarked___C,Embarked___Q,Embarked___S,Embarked__category
0,"Braund, Mr. Owen Harris",1,0,A/5 21171,0,1,3,22.0,S,male,7.2500,0,1,22.000000,0,1,0,0,1,5
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,0,PC 17599,1,2,1,38.0,C,female,71.2833,0,0,38.000000,1,0,1,0,0,1
2,"Heikkinen, Miss. Laina",0,0,STON/O2. 3101282,1,3,3,26.0,S,female,7.9250,0,1,26.000000,1,0,0,0,1,5
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,0,113803,1,4,1,35.0,S,female,53.1000,0,0,35.000000,1,0,0,0,1,5
4,"Allen, Mr. William Henry",0,0,373450,0,5,3,35.0,S,male,8.0500,0,1,35.000000,0,1,0,0,1,5
5,"Moran, Mr. James",0,1,330877,0,6,3,28.0,Q,male,8.4583,0,1,29.699118,0,1,0,1,0,3
6,"McCarthy, Mr. Timothy J",0,0,17463,0,7,1,54.0,S,male,51.8625,0,0,54.000000,0,1,0,0,1,5
7,"Palsson, Master. Gosta Leonard",3,0,349909,0,8,3,2.0,S,male,21.0750,1,1,2.000000,0,1,0,0,1,5
8,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",0,0,347742,1,9,3,27.0,S,female,11.1333,2,1,27.000000,1,0,0,0,1,5
9,"Nasser, Mrs. Nicholas (Adele Achem)",1,0,237736,1,10,2,14.0,C,female,30.0708,0,1,14.000000,1,0,1,0,0,1

In [ ]:
# This is for testing another data set, where height is string, using admen_column method to
# convert string value to numeric cm value
import re
def amend_height(feet):
    pattern = re.compile(r"(\d+)-(\d+)")
    if pd.isna(feet):
        return None

    found = pattern.findall(feet)
    if len(found) == 0:
        return None

    feet, inch = (found[0])
    return int(feet) * 30.48 + int(inch) * 2.54

main_mender.amend_column("Height", amend_height)

In [38]:
main_mender.graphs(kind="kde")

ValueError: Layout of 3x4 must be larger than required size 16

In [ ]:

main_mender.setfocus(columns=['Survived'], rows=(1, 50, 2))

In [ ]:
main_mender.column_categories("Position")

In [ ]:
from datamender import EncodingStrategies as en_strategy

category_order_map = {
    "PG": 1,
    "SF": 3,
    "SG": 5,
    "PF": 7,
    "C": 100,
}

main_mender.encode_column(
    column="Position",
    strategy=en_strategy.label_encoding,
    category_order_map=category_order_map
)