In [15]:
import pandas as pd

from datamender import Mender

# main_df = pd.read_csv("https://media.geeksforgeeks.org/wp-content/uploads/nba.csv")
main_df = pd.read_csv('./expermental/testing_data/titanic.csv')

main_mender = Mender(main_df)

In [2]:
# main_mender.sklearn_impute(['Age'], 'iterative', remark='test1', random_state=0)
# main_mender.sklearn_impute(['Age'], 'iterative', remark='test2', random_state=128, keep_empty_features=True)
# main_mender.sklearn_impute(['Age'], 'knn', remark='test1', n_neighbors=2)
# main_mender.sklearn_impute(['Age'], 'knn', remark='test2', n_neighbors=4)

In [17]:
main_df.shape

(891, 12)

In [30]:
# Show all the columns
main_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [31]:
main_mender.overview()

                          Value
Total Columns                17
Total Rows                  891
Incomplete Rows Count         0
Incomplete Rows (%)         0.0
Incomplete Columns Count     17
Total Data Count          15147
Valid Data Count          15147
Missing Data Count            0
Missing Data (%)            0.0

In [32]:
main_mender.insights()

,PassengerId,Parch,Fare,Ticket,Name,Embarked,Pclass,Survived,Age,SibSp,Sex,Age__was-missing,Sex___female,Sex___male,Embarked___C,Embarked___Q,Embarked___S
Valid Data Count,891.0,891.0,891.0,891.0,891.0,891.0,891.0,891.0,891.0,891.0,891.0,891.0,891.0,891.0,891.0,891.0,891.0
Missing Data Count,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Missing Data (%),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Data Type,int64,int64,float64,object,object,object,int64,int64,float64,int64,object,int64,uint8,uint8,uint8,uint8,uint8
Mean,446.0,0.38,32.2,-,-,-,2.31,0.38,29.7,0.52,-,0.2,0.35,0.65,0.19,0.09,0.73
Median,446.0,0.0,14.45,-,-,-,3.0,0.0,29.7,0.0,-,0.0,0.0,1.0,0.0,0.0,1.0
Min,1.0,0.0,0.0,-,-,-,1.0,0.0,0.42,0.0,-,0.0,0.0,0.0,0.0,0.0,0.0
Max,891.0,6.0,512.33,-,-,-,3.0,1.0,80.0,8.0,-,1.0,1.0,1.0,1.0,1.0,1.0
Standard Deviation,257.35,0.81,49.69,-,-,-,0.84,0.49,13.0,1.1,-,0.4,0.48,0.48,0.39,0.28,0.45
25% Quantile,223.5,0.0,7.91,-,-,-,2.0,0.0,22.0,0.0,-,0.0,0.0,0.0,0.0,0.0,0.0
75% Quantile,668.5,0.0,31.0,-,-,-,3.0,1.0,35.0,1.0,-,0.0,1.0,1.0,0.0,0.0,1.0
Mode,1,0.0,8.05,1601,"Abbing, Mr. Anthony",S,3.0,0.0,29.699118,0.0,male,0.0,0.0,1.0,0.0,0.0,1.0
Mode Count,1,678,43,7,1,646,491,549,177,608,577,714,577,577,723,814,646
Mode (%),0.11,76.09,4.83,0.79,0.11,72.5,55.11,61.62,19.87,68.24,64.76,80.13,64.76,64.76,81.14,91.36,72.5
Unique Values Count,891,7,248,681,891,3,3,2,89,7,2,2,2,2,2,2,2
Unique Values (%),100.0,0.79,27.83,76.43,100.0,0.34,0.34,0.22,9.99,0.79,0.22,0.22,0.22,0.22,0.22,0.22,0.22

How will Cabin affect the result?
How to measure success rate?

In [21]:
main_mender.show_incomplete(999)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

## Imputation Plan

Sex is object, but need to be converted to number or boolean, can use one-hot
Embarked can also be converted with one-hot

Age and cabin have most of missing value, should create a new column - Age__missing to capture the missing value in age

Cabin is too complex to process, need to ignore

In [7]:
main_mender.df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age__iterative_test1,Age__iterative_test2,Age__knn_test1,Age__knn_test2
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,22.0,22.0,22.0,22.0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,38.0,38.0,38.0,38.0
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,26.0,26.0,26.0,26.0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,35.0,35.0,35.0,35.0
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,35.0,35.0,35.0,35.0

In [8]:
# main_mender.setfocus(columns=['Survived', 'Pclass', 'Name'], rows=(0, 50))

In [22]:
# Ignore Cabin colum because it is string value without any pattern
main_mender.setignore(columns=['Cabin'])

In [24]:
from datamender import ImputationStrategies as im_strategy

# Apply mean imputation to the age column
# But because the age column contains too much missing data, we'll capture the likelihood of missing as new column
main_mender.impute_columns(
    columns=["Age"],
    strategies=[im_strategy.mean],
    inplace= True,
    capture_likelihood = True
)

In [27]:
# Since there are only 2 value missed in this column
# Impute with mode since the majority takes 72.28% of the value
main_mender.impute_columns(
    columns=["Embarked"],
    strategies=[im_strategy.mode],
    inplace=True
)

In [28]:
from datamender import EncodingStrategies as en_stragety

# Sex is object, but need to be converted to number or boolean, can use one-hot
main_mender.encode_column('Sex', en_stragety.one_hot)

In [29]:
#Embarked can also be converted with one-hot
main_mender.encode_column('Embarked', en_stragety.one_hot)

In [14]:
import re
def amend_height(feet):
    pattern = re.compile(r"(\d+)-(\d+)")
    if pd.isna(feet):
        return None

    found = pattern.findall(feet)
    if len(found) == 0:
        return None

    feet, inch = (found[0])
    return int(feet) * 30.48 + int(inch) * 2.54

main_mender.amend_column("Height", amend_height)

{}

KeyError: 'Height'

In [ ]:
main_mender.graphs(kind="kde")

In [ ]:

main_mender.setfocus(columns=['Survived'], rows=(1, 50, 2))

In [ ]:
main_mender.column_categories("Position")

In [ ]:
from datamender import EncodingStrategies as en_strategy

category_order_map = {
    "PG": 1,
    "SF": 3,
    "SG": 5,
    "PF": 7,
    "C": 100,
}

main_mender.encode_column(
    column="Position",
    strategy=en_strategy.label_encoding,
    category_order_map=category_order_map
)