In [1]:
from data_processor_lib import Processor
from data_processor_lib.impute import ImputationStrategies

data_src = "https://media.geeksforgeeks.org/wp-content/uploads/nba.csv"

In [2]:
processor = Processor()
processor.read_csv(data_src)

Profiler initialized

In [3]:
processor.columns()

Index(['Name', 'Team', 'Number', 'Position', 'Age', 'Height', 'Weight',
       'College', 'Salary'],
      dtype='object')

In [4]:
processor.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [5]:
processor.overview()

                            Value
Total Columns                9.00
Total Rows                 458.00
Incomplete Rows Count       94.00
Incomplete Rows (%)         20.52
Incomplete Columns Count     9.00
Total Data Count          4018.00
Missing Data Count         104.00
Missing Data (%)             2.59

In [6]:
processor.insights()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
Valid Data Count,457.0,457.0,457.0,457.0,457.0,457.0,457.0,373.0,446.0
Missing Data Count,1.0,1.0,1.0,1.0,1.0,1.0,1.0,85.0,12.0
Missing Data (%),0.22,0.22,0.22,0.22,0.22,0.22,0.22,22.79,2.69
Data Type,object,object,float64,object,float64,object,float64,object,float64
Mean,-,-,17.68,-,26.94,-,221.52,-,4842684.11
Median,-,-,13.0,-,26.0,-,220.0,-,2839073.0
Min,-,-,0.0,-,19.0,-,161.0,-,30888.0
Max,-,-,99.0,-,40.0,-,307.0,-,25000000.0
Standard Deviation,-,-,15.97,-,4.4,-,26.37,-,5229237.6
25% Quantile,-,-,5.0,-,24.0,-,200.0,-,1044792.25
75% Quantile,-,-,25.0,-,30.0,-,240.0,-,6500000.0
Mode,Aaron Brooks,New Orleans Pelicans,5.0,SG,24.0,6-9,220.0,Kentucky,947276.0
Mode Count,1,19,23,102,47,59,29,22,31
Unique Values Count,457,30,53,5,22,18,87,118,309
Unique Values (%),100.0,6.56,11.6,1.09,4.81,3.94,19.04,31.64,69.28

In [7]:
processor.extract_incompletes()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
5,Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,NaN,12000000.0
15,Bojan Bogdanovic,Brooklyn Nets,44.0,SG,27.0,6-8,216.0,NaN,3425510.0
20,Sergey Karasev,Brooklyn Nets,10.0,SG,22.0,6-7,208.0,NaN,1599840.0
...,...,...,...,...,...,...,...,...,...
447,Rudy Gobert,Utah Jazz,27.0,C,23.0,7-1,245.0,NaN,1175880.0
450,Joe Ingles,Utah Jazz,2.0,SF,28.0,6-8,226.0,NaN,2050000.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
processor.set_ignore_rows([457])
processor.set_ignore_columns(['College'])

In [9]:
processor.extract_incompletes()

,Team,Name,Number,Salary,Age,Position,Height,Weight
2,Boston Celtics,John Holland,30.0,NaN,27.0,SG,6-5,205.0
46,Philadelphia 76ers,Elton Brand,42.0,NaN,37.0,PF,6-9,254.0
171,Cleveland Cavaliers,Dahntay Jones,30.0,NaN,35.0,SG,6-6,225.0
264,Memphis Grizzlies,Jordan Farmar,4.0,NaN,29.0,PG,6-2,180.0
269,Memphis Grizzlies,Ray McCallum,5.0,NaN,24.0,PG,6-3,190.0
270,Memphis Grizzlies,Xavier Munford,14.0,NaN,24.0,PG,6-3,180.0
273,Memphis Grizzlies,Alex Stepheson,35.0,NaN,28.0,PF,6-10,270.0
350,Miami Heat,Briante Weber,12.0,NaN,23.0,PG,6-2,165.0
353,Miami Heat,Dorell Wright,11.0,NaN,30.0,SF,6-9,205.0
397,Denver Nuggets,Axel Toupane,6.0,NaN,23.0,SG,6-7,210.0
409,Minnesota Timberwolves,Greg Smith,4.0,NaN,25.0,PF,6-10,250.0

In [10]:
processor.overview()

                            Value
Total Columns                8.00
Total Rows                 457.00
Incomplete Rows Count       11.00
Incomplete Rows (%)          2.41
Incomplete Columns Count     8.00
Total Data Count          3645.00
Missing Data Count          11.00
Missing Data (%)             0.30

In [11]:
processor.insights()

,Team,Name,Number,Salary,Age,Position,Height,Weight
Valid Data Count,457.0,457.0,457.0,446.0,457.0,457.0,457.0,457.0
Missing Data Count,0.0,0.0,0.0,11.0,0.0,0.0,0.0,0.0
Missing Data (%),0.0,0.0,0.0,2.47,0.0,0.0,0.0,0.0
Data Type,object,object,float64,float64,float64,object,object,float64
Mean,-,-,17.68,4842684.11,26.94,-,-,221.52
Median,-,-,13.0,2839073.0,26.0,-,-,220.0
Min,-,-,0.0,30888.0,19.0,-,-,161.0
Max,-,-,99.0,25000000.0,40.0,-,-,307.0
Standard Deviation,-,-,15.97,5229237.6,4.4,-,-,26.37
25% Quantile,-,-,5.0,1044792.25,24.0,-,-,200.0
75% Quantile,-,-,25.0,6500000.0,30.0,-,-,240.0
Mode,New Orleans Pelicans,Aaron Brooks,5.0,947276.0,24.0,SG,6-9,220.0
Mode Count,19,1,23,31,47,102,59,29
Unique Values Count,30,457,53,309,22,5,18,87
Unique Values (%),6.56,100.0,11.6,69.28,4.81,1.09,3.94,19.04

In [12]:
processor.set_sample(frac=0.5)
processor.sample

,Team,Name,Number,Salary,Age,Position,Height,Weight
2,Boston Celtics,John Holland,30.0,NaN,27.0,SG,6-5,205.0
4,Boston Celtics,Jonas Jerebko,8.0,5000000.0,29.0,PF,6-10,231.0
5,Boston Celtics,Amir Johnson,90.0,12000000.0,29.0,PF,6-9,240.0
12,Boston Celtics,Evan Turner,11.0,3425510.0,27.0,SG,6-7,220.0
14,Boston Celtics,Tyler Zeller,44.0,2616975.0,26.0,C,7-0,253.0
...,...,...,...,...,...,...,...,...
446,Utah Jazz,Derrick Favors,15.0,12000000.0,24.0,PF,6-10,265.0
449,Utah Jazz,Rodney Hood,5.0,1348440.0,23.0,SG,6-8,206.0
450,Utah Jazz,Joe Ingles,2.0,2050000.0,28.0,SF,6-8,226.0
453,Utah Jazz,Shelvin Mack,8.0,2433333.0,26.0,PG,6-3,203.0
456,Utah Jazz,Jeff Withey,24.0,947276.0,26.0,C,7-0,231.0

In [13]:
processor.sample_insights()

,Team,Name,Number,Salary,Age,Position,Height,Weight
Valid Data Count,228.0,228.0,228.0,222.0,228.0,228.0,228.0,228.0
Missing Data Count,0.0,0.0,0.0,6.0,0.0,0.0,0.0,0.0
Missing Data (%),0.0,0.0,0.0,2.7,0.0,0.0,0.0,0.0
Data Type,object,object,float64,float64,float64,object,object,float64
Mean,-,-,16.58,4919814.24,26.97,-,-,220.47
Median,-,-,11.5,2862190.0,27.0,-,-,220.0
Min,-,-,0.0,55722.0,19.0,-,-,161.0
Max,-,-,90.0,22970500.0,39.0,-,-,307.0
Standard Deviation,-,-,16.13,5223853.12,4.14,-,-,27.01
25% Quantile,-,-,5.0,1100150.5,24.0,-,-,200.0
75% Quantile,-,-,24.0,6995200.5,30.0,-,-,240.0
Mode,Memphis Grizzlies,Aaron Brooks,0.0,947276.0,25.0,SG,6-10,240.0
Mode Count,12,1,14,15,25,58,28,16
Unique Values Count,30,228,46,173,21,5,16,67
Unique Values (%),13.16,100.0,20.18,77.93,9.21,2.19,7.02,29.39

In [14]:
processor.sample_overview()

                            Value
Total Columns                8.00
Total Rows                 228.00
Incomplete Rows Count        6.00
Incomplete Rows (%)          2.63
Incomplete Columns Count     8.00
Total Data Count          1818.00
Missing Data Count           6.00
Missing Data (%)             0.33

In [15]:
strategies = [ 
    ImputationStrategies.mean_imputation, 
    ImputationStrategies.median_imputation
    ]

processor.impute_sample(['Salary'], strategies)

In [16]:
processor.sample_insights()

,Team,Name,Number,Salary,Age,Position,Height,Weight,Salary_mean,Salary_median
Valid Data Count,228.0,228.0,228.0,222.0,228.0,228.0,228.0,228.0,228.0,228.0
Missing Data Count,0.0,0.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0
Missing Data (%),0.0,0.0,0.0,2.7,0.0,0.0,0.0,0.0,0.0,0.0
Data Type,object,object,float64,float64,float64,object,object,float64,float64,float64
Mean,-,-,16.58,4919814.24,26.97,-,-,220.47,4919814.24,4865666.23
Median,-,-,11.5,2862190.0,27.0,-,-,220.0,2918640.0,2862190.0
Min,-,-,0.0,55722.0,19.0,-,-,161.0,55722.0,55722.0
Max,-,-,90.0,22970500.0,39.0,-,-,307.0,22970500.0,22970500.0
Standard Deviation,-,-,16.13,5223853.12,4.14,-,-,27.01,5154353.09,5164912.19
25% Quantile,-,-,5.0,1100150.5,24.0,-,-,200.0,1100602.0,1100602.0
75% Quantile,-,-,24.0,6995200.5,30.0,-,-,240.0,6695200.5,6695200.5
Mode,Memphis Grizzlies,Aaron Brooks,0.0,947276.0,25.0,SG,6-10,240.0,947276.0,947276.0
Mode Count,12,1,14,15,25,58,28,16,15,15
Unique Values Count,30,228,46,173,21,5,16,67,174,174
Unique Values (%),13.16,100.0,20.18,77.93,9.21,2.19,7.02,29.39,76.32,76.32

processor.data[some-function]
processor.sample[some-function]
processor.original[]