In [14]:
import pandas as pd
from datamender import Mender

main_df = pd.read_csv('./expermental/testing_data/training_data_zinb.csv')

main_mender = Mender(main_df)

In [34]:
main_mender.df.head()

,SKU,date,target,promo,stateholiday,schoolholiday,exposure,date__amended
0,product1,2013-01-01,0,0,a,1,1.00,2013-01-01
1,product1,2013-01-02,5530,0,0,1,1.00,2013-01-02
2,product1,2013-01-03,4327,0,0,1,1.00,2013-01-03
3,product1,2013-01-04,3596,0,0,1,0.80,2013-01-04
4,product1,2013-01-05,3213,0,0,1,0.64,2013-01-05

In [29]:
main_mender.overview()

                          Value
Total Columns                 8
Total Rows                 7356
Incomplete Rows Count         0
Incomplete Rows (%)         0.0
Incomplete Columns Count      8
Total Data Count          58848
Valid Data Count          58848
Missing Data Count            0
Missing Data (%)            0.0

In [31]:
main_mender.insights()

,SKU,date,target,promo,stateholiday,schoolholiday,exposure,date__amended
Valid Data Count,7356.0,7356.0,7356.0,7356.0,7356.0,7356.0,7356.0,7356.0
Missing Data Count,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Missing Data (%),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Data Type,object,object,int64,int64,object,int64,float64,datetime64[ns]
Mean,-,-,4793.78,0.38,-,0.18,0.91,-
Median,-,-,4874.5,0.0,-,0.0,1.0,-
Min,-,-,0.0,0.0,-,0.0,0.5,-
Max,-,-,22589.0,1.0,-,1.0,1.0,-
Standard Deviation,-,-,3054.16,0.48,-,0.39,0.15,-
25% Quantile,-,-,3120.75,0.0,-,0.0,0.83,-
75% Quantile,-,-,6647.5,1.0,-,0.0,1.0,-
Mode,product1,2013-01-01,0.0,0.0,0,0.0,1.0,2013-01-01 00:00:00
Mode Count,754,10,1260,4580,7139,5996,5151,10
Mode (%),10.25,0.14,17.13,62.26,97.05,81.51,70.02,0.14
Unique Values Count,10,754,4213,2,4,2,42,754
Unique Values (%),0.14,10.25,57.27,0.03,0.05,0.03,0.57,10.25

In [5]:
from datamender import EncodingStrategies as en_strategies
main_mender.encode_column("stateholiday", en_strategies.one_hot)

In [32]:
main_mender.amend_column('date', pd.to_datetime, unit="ms")